
// Main layout elements

.app-frame {
  @include grid-frame($orientation: vertical);
}

nav {
  @include grid-block(shrink);
}

main {
  @include grid-block();
}

.left-area {
  @include grid-block($orientation: vertical, $align: center);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

.main-area {
  @include grid-block($orientation: vertical);

}