<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSEnvironment</key>
	<dict>
		<key>R_HOME</key>
		<string>/Library/Frameworks/R.framework/Resources</string>
	</dict>
	<key>CFBundleName</key>
	<string>Tuner</string>
	<key>CFBundleIdentifier</key>
	<string>com.tuner</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>tuner_icon.icns</string>
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-Djava.library.path=/Library/Frameworks/R.framework/Versions/Current/Resources/library/rJava/jri:$APP_PACKAGE/Contents/Resources/Java -Xmx2Gm</string>
		<key>MainClass</key>
		<string>tuner.Tuner</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/JRI.jar:$JAVAROOT/JRIEngine.jar:$JAVAROOT/Jama-1.0.2.jar:$JAVAROOT/REngine.jar:$JAVAROOT/TableLayout-20050920.jar:$JAVAROOT/commons-math-2.2.jar:$JAVAROOT/core.jar:$JAVAROOT/datescala_2.9.1-0.9.jar:$JAVAROOT/gluegen-rt.jar:$JAVAROOT/japura-1.15.1.jar:$JAVAROOT/jogl.all.jar:$JAVAROOT/lift-json_2.9.1-2.4.jar:$JAVAROOT/nativewindow.all.jar:$JAVAROOT/opengl.jar:$JAVAROOT/paranamer-2.3.jar:$JAVAROOT/prefuse-beta-20060220.jar:$JAVAROOT/scala-compiler-2.9.1.jar:$JAVAROOT/scala-library-2.9.1.jar:$JAVAROOT/scala-swing-2.9.1.jar:$JAVAROOT/scalap-2.9.1.jar:$JAVAROOT/tuner-0.9.jar</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
