doctype html
html(class="no-js", lang="en")
  include header
  body
    div.row
      div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns panel radius")
        h1 Tuner
        a(href="api/index.html") API documentation
    include footer
